body {
    background: #d3eafc;
}

.div-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.border-box {
    position: relative;
    width: 35%;
    height: 65%;
    background: rgb(255, 255, 255);
    margin: 15% auto;
    min-width: 700px;
    min-height: 500px;
    border-radius: 15px;
    box-shadow: -5px 10px 35px -7px rgb(0, 0, 0, .5);
}

.inputGroup label {
    position: absolute;
    display: block;
    font-size: 20px;
    color:rgb(90, 90, 90);
    top: 32%;
    left: 10%;
    font-family: arial;
}

.inputGroup .label1 {
    position: absolute;
    display: block;
    font-size: 20px;
    color:rgb(90, 90, 90);
    top: 47%;
    left: 10%;
    font-family: arial;
}

.inputGroup #cardNumber {
    position: absolute;
    width: 80%;
    height: 7%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20%;
    margin: auto;
    font-size: 20px;
}

.inputGroup #cardName {
    position: absolute;
    width: 80%;
    height: 7%;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    margin: auto;
}