body {
    background: #d3eafc;
}

.div-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.border-box {
    position: relative;
    width: 35%;
    height: 65%;
    background: rgb(255, 255, 255);
    margin: 6% auto;
    min-width: 700px;
    min-height: 500px;
    max-width: 1200px;
    max-height: 900px;
    border-radius: 15px;
    box-shadow: -5px 10px 35px -7px rgb(0, 0, 0, .5);
}

.info {
    position: absolute;
    width: 20%;
    height: 10%;
    text-align: center;
    top: 5%;
    left: 40%;
    font-size: 25px;
    font-family: arial;
}

.inputGroup .labelFullName {
    position: absolute;
    width: 20%;
    color: rgb(90, 90, 90);
    display: block;
    top: 35%;
    left: 30%;
    font-size: 20px;
    font-family: arial;
}

.inputGroup #fullName {
    position: absolute;
    width: 40%;
    height: 7%;
    font-size: 20px;
    top: 40%;
    left: 30%;
    border: 1px solid black;
}

.inputGroup #fullName:hover {
    background: rgb(245, 243, 243, .6);
    box-shadow: 0 0 2px black;
    transition: all ease-out .2s;
}

.inputGroup #labelAge {
    position: absolute;
    width: 20%;
    color: rgb(90, 90, 90);
    display: block;
    top: 53%;
    left: 30%;
    font-size: 20px;
    font-family: arial;
}

.inputGroup #age {
    position: absolute;
    width: 40%;
    height: 7%;
    font-size: 20px;
    top: 58%;
    left: 30%;
    border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.btnGetCard {
    position: absolute;
    width: 40%;
    height: 7%;
    top: 70%;
    left: 30%;
    border: 1px solid rgb(3, 84, 206);
    background: rgb(3, 89, 219);
    box-shadow:0 0 3px rgb(3, 89, 219);
    color: #fff;
    cursor: pointer;
}

.btnGetCard:hover {
    background: rgb(6, 96, 231);
    transition: all ease-out .2s;
}

.errorValid {
    position: absolute;
    width: 30%;
    top: 75%;
    text-align: center;
    left: 35%;
}

/* стилизация модального окна */
.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 1000px;
    min-height: 700px;
    background: rgb(90, 90, 90, .2);
}

.modal-content {
    position: relative;
    width: 30%;
    height: 40%;
    background: rgb(255, 255, 255);
    box-shadow: -5px 10px 35px -7px rgb(0, 0, 0, .5);
    margin: 10% auto;
    border-radius: 5px;
}

.close {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    left: 93%;
    top: -3%;
}

.titleInModalWindow {
    position: absolute;
    width: 40%;
    text-align: center;
    left: 32%;
    font-size: 20px;
    font-family: arial;
}

.btnOk {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 34%;
    cursor: pointer;
    border: 1px solid rgb(3, 89, 219);
    background:rgb(3, 89, 219);
    box-shadow:0 0 3px rgb(3, 89, 219);
    color: #fff;
}

.btnOk:hover {
    background: rgb(6, 96, 231);
    transition: all ease-out .2s;
}

.yourCardNumber {
    position: absolute;
    width: 80%;
    top: 30%;
    font-size: 17px;
    text-align: left;
    left: 20%;
}

.yourCardName {
    position: absolute;
    width: 80%;
    top: 39%;
    font-size: 17px;
    text-align: left;
    left: 20%;
}

.yourCardMonth {
    position: absolute;
    width: 80%;
    top: 48%;
    font-size: 17px;
    text-align: left;
    left: 20%;
}

.yourCardYear {
    position: absolute;
    width: 80%;
    top: 57%;
    font-size: 17px;
    text-align: left;
    left: 20%;
}

.yourCardCW {
    position: absolute;
    width: 80%;
    top: 66%;
    font-size: 17px;
    text-align: left;
    left: 20%;
}